#### Create main dataframe

In [4]:
import pandas as pd
from icecream import ic
import seaborn as sns
import os
from sqlalchemy import create_engine

# connect to postgres db and read table Cars
engine = create_engine('postgresql://postgres:1986@193.104.57.46:5432/car-prices')
main_df = pd.read_sql_table('cars', engine)

#### Most sold cars

In [5]:
most_sold = main_df.groupby('model')['model'].agg(count='count').sort_values('count', ascending=False)

most_sold

           count
model
Polo        4926
Tiguan      4315
Jetta       3669
Passat      3474
Golf        3455
Touareg     2313
A6          2257
A4          1726
Q7          1418
Q5          1224
Fabia       1160
Amarok       866
A3           751
A5           685
Q3           584
A8           504
Q8           502
Passat Cc    445
Karoq        397
A7           360
Kodiaq       281
Arteon       258
Teramont     197
A1           138
Tt            88
Q6            71