#### Count cars by build year

In [6]:
import pandas as pd
from icecream import ic
import seaborn as sns

with open('merged_csv_sample/2023-12-11_volkswagen_polo.csv') as f:
    df = pd.read_csv(f)
    
df_year = df.groupby('build_year')['brand'].agg(count='count').sort_values('count', ascending=False)
df_year

            count
build_year
2019          621
2018          570
2020          569
2017          475
2021          424
2016          402
2012          374
2013          341
2015          291
2011          290
2014          275
2022           99
2010           66
2008           19
2002           17
2001           14
2007           13
2000            9
1997            8
2003            7
2005            6
1999            5
1995            4
2009            4
2004            4
1996            4
2006            3
1998            3
1990            1

#### Find average price by year

In [7]:
df['price_rub'].astype('int')

0       1149000
1       1560000
2       2089000
3       1260000
4       1217000
         ...
4913    1260000
4914    1400000
4915    1690000
4916     890000
4917    1347000
Name: price_rub, Length: 4918, dtype: int64

#### Find duplicates

In [14]:
duplicates = df[df.duplicated(subset=['mileage_kms', 'price_rub', 'build_year'])]

print(duplicates)

           brand model engine  horse_pwr trans     gas     drive  build_year  \
153   Volkswagen  Polo    1.6      110.0    AT  бензин  передний        2021
154   Volkswagen  Polo    1.6      110.0    AT  бензин  передний        2020
155   Volkswagen  Polo    1.6      105.0    MT  бензин  передний        2014
156   Volkswagen  Polo    1.6      105.0    MT  бензин  передний        2014
157   Volkswagen  Polo    1.6       90.0    MT  бензин  передний        2018
...          ...   ...    ...        ...   ...     ...       ...         ...
4913  Volkswagen  Polo    1.6      110.0    MT  бензин  передний        2019
4914  Volkswagen  Polo    1.6      110.0    AT  бензин  передний        2018
4915  Volkswagen  Polo    1.6      110.0    AT  бензин  передний        2019
4916  Volkswagen  Polo    1.6      105.0    MT  бензин  передний        2012
4917  Volkswagen  Polo    1.6       90.0    MT  бензин  передний        2016

      mileage_kms  price_rub        date
153         33000    1899999  2023-12-11
154        102000    1099000  2023-12-11
155        320000     700000  2023-12-11
156        104235     890000  2023-12-11
157         96000     975000  2023-12-11
...           ...        ...         ...
4913       121111    1260000  2023-12-11
4914        91200    1400000  2023-12-11
4915       149000    1690000  2023-12-11
4916        17000     890000  2023-12-11
4917        76000    1347000  2023-12-11

[627 rows x 11 columns]