#### Create main dataframe

In [25]:
import pandas as pd
from icecream import ic
import seaborn as sns
import os

# open every *.csv file in a folder and append it to main_dataframe
folder = 'merged_csv_sample'
filenames = []

for file in os.listdir(folder):
    filename = os.fsdecode(file)
    filenames.append(filename)

filenames.sort()
df_lst = []

for filename in filenames:
    df = pd.read_csv(f'{folder}/{filename}')
    df_lst.append(df)
    
main_df = pd.concat(df_lst)
main_df.reset_index(inplace=True, drop=True)
main_df = main_df[~(main_df['engine'].str.len() > 3)]
main_df.drop_duplicates(inplace=True)

df_year = main_df.groupby('build_year')['brand'].agg(count='count').sort_values('count', ascending=False)

df_year

            count
build_year
2019         3350
2018         2840
2020         2671
2012         2458
2013         2209
2017         2017
2011         1960
2014         1921
2021         1857
2016         1590
2015         1494
2008         1017
2010         1008
2022          772
2023          768
2009          623
2007          585
2006          370
2005          225
2002          214
1998          213
2001          213
2004          203
2003          190
1999          189
2000          161
1997          160
1991          102
1989           96
1996           92
1995           91
1990           91
1988           81
1992           65
1994           65
1993           44
1987           34
1986           34
1985           22
1984           20
1983           16
1981            8
1982            4
1979            3
1976            3
1980            2
1977            1

#### Most sold cars

In [32]:
most_sold = main_df.groupby('model')['model'].agg(count='count').sort_values('count', ascending=False)

most_sold

           count
model
Polo        4299
Octavia     3951
Tiguan      3734
Passat      2626
Rapid       2324
Touareg     1865
A6          1753
Jetta       1579
Golf        1303
A4          1240
Q7           881
Q5           718
Kodiaq       666
Fabia        494
Yeti         483
A3           443
Q3           412
A5           410
Superb       381
Q8           367
A8           355
Passat Cc    334
Karoq        314
A7           309
Amarok       282
Teramont     167
Arteon       151
A1           140
Tt           104
Q6            67